
/*PROYECT PROYECT*/
#proyects {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 35px;
  padding: 185px 0 100px 0px;
  padding-left: 50px;
    padding-right: 50px;
}

#proyects__container {
  /*display: grid;
  grid-template-columns: repeat(3, 208.33px);

  grid-column-gap: 30px;
  grid-row-gap: 35px;*/
  display: flex;
 width: 100%;
 gap:30px;
 flex-wrap: wrap;
 justify-content: center;
}

.proyect {
  overflow: hidden;
  position: relative;
  border-radius: 4px;
  flex: 208.33px;
  max-width: 350px;
  max-height: 175px;
}

.proyect img {
  height: 100%;
}

.proyect__text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: none;
  background-color:#003f5c;
  
  color: white;
  font-weight: 500;

  text-align: center;
}

.proyect:hover .proyect__text {
  display: block;
}

.proyect__text h3 {
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 16.15px;
}

.proyect__text .buttons {
  font-size: 14.5px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 45px;
}

.buttons a {
  padding: 5.5px;
  border: 1px solid white;
  cursor: pointer;
}

/*PROYECT PROYECT*/